body{
font-family: 'Roboto', sans-serif;
}
.nav-item{
    letter-spacing : .2em;
    font-size : 14px;
    text-transform :uppercase;
}
.dropdown-item{
    letter-spacing:  .2em ;
     font-size : 14px ;
     text-transform :uppercase;
}
.my_footer{
background-color:#121212;
height: 40px;
}
.my_footer p{
padding-top:30px ;
font-size:10px;
}
/***categorypage**/
.my_row_class{
padding-top:15px;
}
.my_row_class.mx_auto{
color:#000;
font-size:12px;
}
.my_image12

{
 width :50%;
         height=auto;
         padding:30px
}
.my_image{
         width :100%;
         height=auto;
}
.my_title{
font-size:16px;
text-transform :uppercase;
letter-spacing: .2em;
}
.my_image_padding{
padding:10px
}
.my_bottom_margin
{
margin-bottom:20px;
}
.card-body h4
{
font-size:14px;
text-transform:uppercase;
letter-spacing: .2em
}
/***product page***/
.my_prod_row_class
{
padding-top:15px;
padding-bottom:20px;

}
.my_prod_row_class.mx_auto
{
color:#000;
font-size:12px;
text-decoration:none;
}
.my_prod_title
{
font-size:16px;
text-transform:uppercase;
letter-spacing: .2em;
padding-top:15px;
padding-bottom:10px;
}
.my_prod_text
{
padding-right:20px;
}
.my_search_text{
padding-top:20px;
}
.my_custom_table{
min-width:400px;
font-size:14px;
}
.my_custom_thead{
font-weight:normal;
text-transform:uppercase;
letter-spacing:.2em;
background-color:#060607 ! important;
}
.custom_a{
text-decoration:none;
}
.custom_icon{
text-decoration:none;
color:#040404 ! important;
}
.my_custom_button{
margin-top:5px
}
.center {
    text-align: center;
    border: 3px solid ;
  }